*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.headder{
    background-color: #1f2937;
}

.navbar{    
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 20px 300px;

}

.nav-links{
    font-size: 18px;
    color: #e5e7eb;

    display: flex;
    gap: 30px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}


.hero{
    display: flex;
    align-items: center;

    height: 400px;
    padding: 80px 300px;

    justify-content: space-between;
}

.hero-left{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;

    width: 500px;
}

.hero-left .title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-left .subtitle{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-right{
    width: 600px;
    height: 250px;
    background-color: gray;
}

.hero-left .signupbutton{
    background-color: rgb(24, 94, 223);
    color: #f9faf8;
    font-weight: 700;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 30px;

}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 25px;
}

.information-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.square-information{
    display: flex;
    margin: 30px;
    gap: 30px;
}

.block{
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
    margin: 20px;

    color: gray;
    font-size: 20px;
    text-align: center;
}

.square{
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
    
}